
:root {
    --color:#25cf9c;
    --color-secondary: #4089db;
    --color-accent: #fabf63;
    --border-radius: 1rem;
    --font-family: system-ui, sans-serif;
}

h1, h2 {
    color: var(--color-secondary);
}

a i, a b, button {
    padding: 0.5rem 1rem;
}
nav {
    background-color: var(--color);
    background-image: linear-gradient(to right, var(--color), var(--color-secondary));
    color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

nav ul, nav li, nav ul li {
    margin: 0;
    padding: 0;
}

nav a {
    padding: 0.5rem 1rem;
    color: white;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

blockquote {
    margin: -1rem auto 0;
    padding: 0.5rem;
    color: var(--color);
}

.tile:hover {
    filter: none;
    box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

.tile {
    text-align: center;
    border: 1px solid var(--color-bg-secondary);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    min-width: 128px;
}

.tile svg {
    max-width: 64px;
    max-height: 64px;
}

pre code {
    border-radius: 0;
}

section aside {
    border-radius: 0;
}

section.yellow aside {
    border: none;
    box-shadow: none;
    width: 200px;
    text-align: center;
    color: var(--color-accent);
    padding: 0.5rem;
    margin: 0.5rem;
}
section.yellow big {
    font-size: 2rem;
}